## Importação das bibliotecas

In [3]:
import pandas as pd 
import sqlite3
import locale

## Lendo o Dataset de São Paulo

In [4]:
vitoria = pd.read_csv("vitoria.csv", sep = ";")

vitoria

,ID-Produto,Produto,Categoria,Segmento,Fabricante,Loja,Cidade,Estado,Vendedor,ID-Vendedor,Data Venda,ValorVenda
0,SKU-0000042,Notebook Dell 8 GB,Eletrônicos,Corporativo,Dell,V7654,Vitória,Espírito Santo,Maria Fernandes,1001,01/03/2012,"1245,90"
1,SKU-0000049,Notebook Dell 8 GB,Eletrônicos,Corporativo,Dell,V7654,Vitória,Espírito Santo,Fernando Zambrini,1007,01/10/2012,"1345,87"
2,SKU-0000057,Desktop HP 16 GB,Eletrônicos,Corporativo,HP,V7654,Vitória,Espírito Santo,Josias Silva,1006,02/06/2013,"982,00"
3,SKU-0000071,Micro-Ondas,Eletrodomésticos,Doméstico,Panasonic,V7654,Vitória,Espírito Santo,Ana Teixeira,1009,01/08/2012,"566,00"
4,SKU-0000092,Aspirador,Eletroportáteis,Doméstico,Britânia,V7654,Vitória,Espírito Santo,Mateus Gonçalves,1003,02/05/2013,"168,00"
5,SKU-0000139,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,V7654,Vitória,Espírito Santo,Josias Silva,1006,12/03/2013,"671,00"
6,SKU-0000140,Samsung Galaxy 8,Celulares,Corporativo,Samsung,V7654,Vitória,Espírito Santo,Mateus Gonçalves,1003,13/03/2013,"1899,00"
7,SKU-0000144,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,V7654,Vitória,Espírito Santo,Fernando Zambrini,1007,17/05/2013,"655,00"
8,SKU-0000145,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,V7654,Vitória,Espírito Santo,Mateus Gonçalves,1003,18/05/2013,"1200,00"
9,SKU-0000149,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,V7654,Vitória,Espírito Santo,Maria Fernandes,1001,22/07/2013,"1229,00"
10,SKU-0000150,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,V7654,Vitória,Espírito Santo,Ana Teixeira,1009,23/09/2013,"1299,00"
11,SKU-0000151,Samsung Galaxy 8,Celulares,Corporativo,Samsung,V7654,Vitória,Espírito Santo,Artur Moreira,1004,24/10/2013,"3999,00"
12,SKU-0000153,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,V7654,Vitória,Espírito Santo,Josias Silva,1006,26/11/2013,"875,00"
13,SKU-0000195,Aspirador,Eletroportáteis,Doméstico,Britânia,V7654,Vitória,Espírito Santo,André Pereira,1002,01/03/2014,"149,00"
14,SKU-0000202,Fritadeira,Eletroportáteis,Doméstico,Arno,V7654,Vitória,Espírito Santo,Josias Silva,1006,01/10/2014,"128,00"
15,SKU-0000210,Fritadeira,Eletroportáteis,Doméstico,Arno,V7654,Vitória,Espírito Santo,Fernando Zambrini,1007,02/06/2015,"121,00"
16,SKU-0000224,Grill,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,André Pereira,1002,01/08/2014,"190,00"
17,SKU-0000245,Ar Condicionado,Eletrodomésticos,Industrial,Samsung,V7654,Vitória,Espírito Santo,Maria Fernandes,1001,02/05/2015,"1290,00"
18,SKU-0000292,Geladeira Duplex,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,Artur Moreira,1004,12/03/2015,"765,00"
19,SKU-0000293,Geladeira Duplex,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,Rodrigo Fagundes,1005,13/03/2015,"456,00"
20,SKU-0000297,Geladeira Duplex,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,André Pereira,1002,17/05/2015,"1299,00"
21,SKU-0000298,Geladeira Duplex,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,André Pereira,1002,18/05/2015,"1299,00"
22,SKU-0000302,Morotola Moto G5,Celulares,Doméstico,Motorola,V7654,Vitória,Espírito Santo,André Pereira,1002,22/07/2015,"1230,00"
23,SKU-0000303,Geladeira Duplex,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,Mateus Gonçalves,1003,23/09/2015,"409,00"
24,SKU-0000304,Geladeira Duplex,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,Mateus Gonçalves,1003,24/10/2015,"766,00"
25,SKU-0000306,Geladeira Duplex,Eletrodomésticos,Doméstico,Consul,V7654,Vitória,Espírito Santo,Artur Moreira,1004,26/11/2015,"567,00"

## Separação de Colunas

In [6]:
## Dim São Paulo Venddedor
Dim_Vendedor_Vitoria = pd.DataFrame({
    
    "ID_Vendedor" : vitoria["ID-Vendedor"], 
    "Vendedor" : vitoria["Vendedor"]
})

Dim_Vendedor_Vitoria

    ID_Vendedor           Vendedor
0          1001    Maria Fernandes
1          1007  Fernando Zambrini
2          1006       Josias Silva
3          1009       Ana Teixeira
4          1003   Mateus Gonçalves
5          1006       Josias Silva
6          1003   Mateus Gonçalves
7          1007  Fernando Zambrini
8          1003   Mateus Gonçalves
9          1001    Maria Fernandes
10         1009       Ana Teixeira
11         1004      Artur Moreira
12         1006       Josias Silva
13         1002      André Pereira
14         1006       Josias Silva
15         1007  Fernando Zambrini
16         1002      André Pereira
17         1001    Maria Fernandes
18         1004      Artur Moreira
19         1005   Rodrigo Fagundes
20         1002      André Pereira
21         1002      André Pereira
22         1002      André Pereira
23         1003   Mateus Gonçalves
24         1003   Mateus Gonçalves
25         1004      Artur Moreira

In [7]:
## Dim São Paulo Produtos 
Dim_Produtos_Vitoria = pd.DataFrame({
    
    "ID_Produto" : vitoria["ID-Produto"],
    "Fabricante" : vitoria["Fabricante"],
    "Categoria" : vitoria["Categoria"], 
    "Produto" : vitoria["Produto"],
    "Segmento" : vitoria["Segmento"]
    
})

Dim_Produtos_Vitoria

     ID_Produto Fabricante         Categoria             Produto     Segmento
0   SKU-0000042       Dell       Eletrônicos  Notebook Dell 8 GB  Corporativo
1   SKU-0000049       Dell       Eletrônicos  Notebook Dell 8 GB  Corporativo
2   SKU-0000057         HP       Eletrônicos    Desktop HP 16 GB  Corporativo
3   SKU-0000071  Panasonic  Eletrodomésticos         Micro-Ondas    Doméstico
4   SKU-0000092   Britânia   Eletroportáteis           Aspirador    Doméstico
5   SKU-0000139   Brastemp  Eletrodomésticos    Geladeira Duplex    Doméstico
6   SKU-0000140    Samsung         Celulares    Samsung Galaxy 8  Corporativo
7   SKU-0000144   Brastemp  Eletrodomésticos    Geladeira Duplex    Doméstico
8   SKU-0000145   Brastemp  Eletrodomésticos    Geladeira Duplex    Doméstico
9   SKU-0000149   Brastemp  Eletrodomésticos    Geladeira Duplex    Doméstico
10  SKU-0000150   Brastemp  Eletrodomésticos    Geladeira Duplex    Doméstico
11  SKU-0000151    Samsung         Celulares    Samsung Galaxy 8  Corporativo
12  SKU-0000153   Brastemp  Eletrodomésticos    Geladeira Duplex    Doméstico
13  SKU-0000195   Britânia   Eletroportáteis           Aspirador    Doméstico
14  SKU-0000202       Arno   Eletroportáteis          Fritadeira    Doméstico
15  SKU-0000210       Arno   Eletroportáteis          Fritadeira    Doméstico
16  SKU-0000224     Consul  Eletrodomésticos               Grill    Doméstico
17  SKU-0000245    Samsung  Eletrodomésticos     Ar Condicionado   Industrial
18  SKU-0000292     Consul  Eletrodomésticos    Geladeira Duplex    Doméstico
19  SKU-0000293     Consul  Eletrodomésticos    Geladeira Duplex    Doméstico
20  SKU-0000297     Consul  Eletrodomésticos    Geladeira Duplex    Doméstico
21  SKU-0000298     Consul  Eletrodomésticos    Geladeira Duplex    Doméstico
22  SKU-0000302   Motorola         Celulares    Morotola Moto G5    Doméstico
23  SKU-0000303     Consul  Eletrodomésticos    Geladeira Duplex    Doméstico
24  SKU-0000304     Consul  Eletrodomésticos    Geladeira Duplex    Doméstico
25  SKU-0000306     Consul  Eletrodomésticos    Geladeira Duplex    Doméstico

In [21]:
## Dim São Paulo Lojas 
Dim_Lojas_Vitoria = pd.DataFrame({
    
    "Loja" : vitoria["Loja"], 
    "Cidade" : vitoria["Cidade"],
    "Estado" : vitoria["Estado"] 
})

Dim_Lojas_Vitoria

     Loja   Cidade          Estado
0   V7654  Vitória  Espírito Santo
1   V7654  Vitória  Espírito Santo
2   V7654  Vitória  Espírito Santo
3   V7654  Vitória  Espírito Santo
4   V7654  Vitória  Espírito Santo
5   V7654  Vitória  Espírito Santo
6   V7654  Vitória  Espírito Santo
7   V7654  Vitória  Espírito Santo
8   V7654  Vitória  Espírito Santo
9   V7654  Vitória  Espírito Santo
10  V7654  Vitória  Espírito Santo
11  V7654  Vitória  Espírito Santo
12  V7654  Vitória  Espírito Santo
13  V7654  Vitória  Espírito Santo
14  V7654  Vitória  Espírito Santo
15  V7654  Vitória  Espírito Santo
16  V7654  Vitória  Espírito Santo
17  V7654  Vitória  Espírito Santo
18  V7654  Vitória  Espírito Santo
19  V7654  Vitória  Espírito Santo
20  V7654  Vitória  Espírito Santo
21  V7654  Vitória  Espírito Santo
22  V7654  Vitória  Espírito Santo
23  V7654  Vitória  Espírito Santo
24  V7654  Vitória  Espírito Santo
25  V7654  Vitória  Espírito Santo

In [20]:
## Dim São Paulo Tempo 
Dim_Tempo_Vitoria = pd.DataFrame({
    
    "Data_Venda" : vitoria["Data Venda"]
})

Dim_Tempo_Vitoria

    Data_Venda
0   01/03/2012
1   01/10/2012
2   02/06/2013
3   01/08/2012
4   02/05/2013
5   12/03/2013
6   13/03/2013
7   17/05/2013
8   18/05/2013
9   22/07/2013
10  23/09/2013
11  24/10/2013
12  26/11/2013
13  01/03/2014
14  01/10/2014
15  02/06/2015
16  01/08/2014
17  02/05/2015
18  12/03/2015
19  13/03/2015
20  17/05/2015
21  18/05/2015
22  22/07/2015
23  23/09/2015
24  24/10/2015
25  26/11/2015

In [10]:
## TB Fato 
TB_Fato_Vitoria = pd.DataFrame({
    
    "Loja" : vitoria["Loja"], 
    "ID_Produto" : vitoria["ID-Produto"], 
    "ID_Vendedor" : vitoria["ID-Vendedor"], 
    "Data_Venda" : vitoria["Data Venda"],
    "Valor_Venda" : vitoria["ValorVenda"]
})

TB_Fato_Vitoria

     Loja   ID_Produto  ID_Vendedor  Data_Venda Valor_Venda
0   V7654  SKU-0000042         1001  01/03/2012     1245,90
1   V7654  SKU-0000049         1007  01/10/2012     1345,87
2   V7654  SKU-0000057         1006  02/06/2013     982,00
3   V7654  SKU-0000071         1009  01/08/2012     566,00
4   V7654  SKU-0000092         1003  02/05/2013     168,00
5   V7654  SKU-0000139         1006  12/03/2013     671,00
6   V7654  SKU-0000140         1003  13/03/2013     1899,00
7   V7654  SKU-0000144         1007  17/05/2013     655,00
8   V7654  SKU-0000145         1003  18/05/2013     1200,00
9   V7654  SKU-0000149         1001  22/07/2013     1229,00
10  V7654  SKU-0000150         1009  23/09/2013     1299,00
11  V7654  SKU-0000151         1004  24/10/2013     3999,00
12  V7654  SKU-0000153         1006  26/11/2013     875,00
13  V7654  SKU-0000195         1002  01/03/2014     149,00
14  V7654  SKU-0000202         1006  01/10/2014     128,00
15  V7654  SKU-0000210         1007  02/06/2015     121,00
16  V7654  SKU-0000224         1002  01/08/2014     190,00
17  V7654  SKU-0000245         1001  02/05/2015     1290,00
18  V7654  SKU-0000292         1004  12/03/2015     765,00
19  V7654  SKU-0000293         1005  13/03/2015     456,00
20  V7654  SKU-0000297         1002  17/05/2015     1299,00
21  V7654  SKU-0000298         1002  18/05/2015     1299,00
22  V7654  SKU-0000302         1002  22/07/2015     1230,00
23  V7654  SKU-0000303         1003  23/09/2015     409,00
24  V7654  SKU-0000304         1003  24/10/2015     766,00
25  V7654  SKU-0000306         1004  26/11/2015     567,00

## Remoção de Dados Duplicados

In [12]:
## Dim_Vendedor_Sao_Paulo
Dim_Vendedor_Vitoria = Dim_Vendedor_Vitoria.drop_duplicates()
Dim_Vendedor_Vitoria_count = Dim_Vendedor_Vitoria.count()[0]

Dim_Vendedor_Vitoria_count

8

In [13]:
pd.DataFrame({"Total de Vendedores" : [Dim_Vendedor_Vitoria_count]})

   Total de Vendedores
0                    8

In [14]:
Dim_Vendedor_Vitoria

    ID_Vendedor           Vendedor
0          1001    Maria Fernandes
1          1007  Fernando Zambrini
2          1006       Josias Silva
3          1009       Ana Teixeira
4          1003   Mateus Gonçalves
11         1004      Artur Moreira
13         1002      André Pereira
19         1005   Rodrigo Fagundes

In [22]:
## Dim Vitoria Lojas 
Dim_Lojas_Vitoria = Dim_Lojas_Vitoria.drop_duplicates() 
Dim_Lojas_Vitoria_count = Dim_Lojas_Vitoria.count()[0] 

Dim_Lojas_Vitoria_count

1

In [23]:
pd.DataFrame({"Total de Lojas" : [Dim_Lojas_Vitoria_count]})

   Total de Lojas
0               1

In [24]:
Dim_Lojas_Vitoria

    Loja   Cidade          Estado
0  V7654  Vitória  Espírito Santo

## Conexão com o Banco de dados

In [25]:
conn = sqlite3.connect("es_regiao_vendas.db")

## Criação de Tabelas

In [30]:
## Criação da Tabela TB_Fato_Vitoria
TB_Fato_Vitoria.to_sql(name='fatos_es', con=conn)

In [27]:
## Criação da Tabela Dim_Lojas_Vitoria
Dim_Lojas_Vitoria.to_sql(name='lojas_es', con=conn)

In [28]:
## Criação da Tabela Dim_Produtos_Vitoria
Dim_Produtos_Vitoria.to_sql(name='produtos_es', con=conn)

In [29]:
## Criação da Tabela Dim_Tempo_Vitoria
Dim_Tempo_Vitoria.to_sql(name='tempo_es', con=conn)

In [26]:
## Criação da Tabela Dim_Vendedor_Vitoria
Dim_Vendedor_Vitoria.to_sql(name='vendedores_es', con=conn)

## Verificando se a tabela foi criada no Banco de dados

In [31]:
!sqlite3 es_regiao_vendas.db '.tables'

fatos_es       lojas_es       produtos_es    tempo_es       vendedores_es

## Informações da Tabela de Banco de dados

In [32]:
## Tabela Fatos São Paulo
!sqlite3 es_regiao_vendas.db 'PRAGMA table_info(fatos_es)'

0|index|INTEGER|0||0
1|Loja|TEXT|0||0
2|ID_Produto|TEXT|0||0
3|ID_Vendedor|INTEGER|0||0
4|Data_Venda|TEXT|0||0
5|Valor_Venda|TEXT|0||0

In [33]:
## Tabela Lojas São Paulo
!sqlite3 es_regiao_vendas.db 'PRAGMA table_info(lojas_es)'

0|index|INTEGER|0||0
1|Loja|TEXT|0||0
2|Cidade|TEXT|0||0
3|Estado|TEXT|0||0

In [34]:
## Tabela Produtos São Paulo
!sqlite3 es_regiao_vendas.db 'PRAGMA table_info(produtos_es)'

0|index|INTEGER|0||0
1|ID_Produto|TEXT|0||0
2|Fabricante|TEXT|0||0
3|Categoria|TEXT|0||0
4|Produto|TEXT|0||0
5|Segmento|TEXT|0||0

In [35]:
## Tabela de Tempo São Paulo
!sqlite3 es_regiao_vendas.db 'PRAGMA table_info(tempo_es)'

0|index|INTEGER|0||0
1|Data_Venda|TEXT|0||0

In [36]:
# Tabela de Vendedor São Paulo
!sqlite3 es_regiao_vendas.db 'PRAGMA table_info(vendedores_es)'

0|index|INTEGER|0||0
1|ID_Vendedor|INTEGER|0||0
2|Vendedor|TEXT|0||0

## Fazendo Consultas Básicas no Banco de Dados

In [38]:
## Tabela Fatos 
data_fatos_es = pd.read_sql('SELECT * FROM fatos_es', con=conn)

data_fatos_es

    index   Loja   ID_Produto  ID_Vendedor  Data_Venda Valor_Venda
0       0  V7654  SKU-0000042         1001  01/03/2012     1245,90
1       1  V7654  SKU-0000049         1007  01/10/2012     1345,87
2       2  V7654  SKU-0000057         1006  02/06/2013     982,00
3       3  V7654  SKU-0000071         1009  01/08/2012     566,00
4       4  V7654  SKU-0000092         1003  02/05/2013     168,00
5       5  V7654  SKU-0000139         1006  12/03/2013     671,00
6       6  V7654  SKU-0000140         1003  13/03/2013     1899,00
7       7  V7654  SKU-0000144         1007  17/05/2013     655,00
8       8  V7654  SKU-0000145         1003  18/05/2013     1200,00
9       9  V7654  SKU-0000149         1001  22/07/2013     1229,00
10     10  V7654  SKU-0000150         1009  23/09/2013     1299,00
11     11  V7654  SKU-0000151         1004  24/10/2013     3999,00
12     12  V7654  SKU-0000153         1006  26/11/2013     875,00
13     13  V7654  SKU-0000195         1002  01/03/2014     149,00
14     14  V7654  SKU-0000202         1006  01/10/2014     128,00
15     15  V7654  SKU-0000210         1007  02/06/2015     121,00
16     16  V7654  SKU-0000224         1002  01/08/2014     190,00
17     17  V7654  SKU-0000245         1001  02/05/2015     1290,00
18     18  V7654  SKU-0000292         1004  12/03/2015     765,00
19     19  V7654  SKU-0000293         1005  13/03/2015     456,00
20     20  V7654  SKU-0000297         1002  17/05/2015     1299,00
21     21  V7654  SKU-0000298         1002  18/05/2015     1299,00
22     22  V7654  SKU-0000302         1002  22/07/2015     1230,00
23     23  V7654  SKU-0000303         1003  23/09/2015     409,00
24     24  V7654  SKU-0000304         1003  24/10/2015     766,00
25     25  V7654  SKU-0000306         1004  26/11/2015     567,00

In [39]:
## Tabela Produtos 
data_produto_es = pd.read_sql('SELECT * FROM produtos_es', con=conn)

data_produto_es

,index,ID_Produto,Fabricante,Categoria,Produto,Segmento
0,0,SKU-0000042,Dell,Eletrônicos,Notebook Dell 8 GB,Corporativo
1,1,SKU-0000049,Dell,Eletrônicos,Notebook Dell 8 GB,Corporativo
2,2,SKU-0000057,HP,Eletrônicos,Desktop HP 16 GB,Corporativo
3,3,SKU-0000071,Panasonic,Eletrodomésticos,Micro-Ondas,Doméstico
4,4,SKU-0000092,Britânia,Eletroportáteis,Aspirador,Doméstico
5,5,SKU-0000139,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
6,6,SKU-0000140,Samsung,Celulares,Samsung Galaxy 8,Corporativo
7,7,SKU-0000144,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
8,8,SKU-0000145,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
9,9,SKU-0000149,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
10,10,SKU-0000150,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
11,11,SKU-0000151,Samsung,Celulares,Samsung Galaxy 8,Corporativo
12,12,SKU-0000153,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
13,13,SKU-0000195,Britânia,Eletroportáteis,Aspirador,Doméstico
14,14,SKU-0000202,Arno,Eletroportáteis,Fritadeira,Doméstico
15,15,SKU-0000210,Arno,Eletroportáteis,Fritadeira,Doméstico
16,16,SKU-0000224,Consul,Eletrodomésticos,Grill,Doméstico
17,17,SKU-0000245,Samsung,Eletrodomésticos,Ar Condicionado,Industrial
18,18,SKU-0000292,Consul,Eletrodomésticos,Geladeira Duplex,Doméstico
19,19,SKU-0000293,Consul,Eletrodomésticos,Geladeira Duplex,Doméstico
20,20,SKU-0000297,Consul,Eletrodomésticos,Geladeira Duplex,Doméstico
21,21,SKU-0000298,Consul,Eletrodomésticos,Geladeira Duplex,Doméstico
22,22,SKU-0000302,Motorola,Celulares,Morotola Moto G5,Doméstico
23,23,SKU-0000303,Consul,Eletrodomésticos,Geladeira Duplex,Doméstico
24,24,SKU-0000304,Consul,Eletrodomésticos,Geladeira Duplex,Doméstico
25,25,SKU-0000306,Consul,Eletrodomésticos,Geladeira Duplex,Doméstico

In [40]:
## Tabela Lojas 
data_lojas_es = pd.read_sql('SELECT * FROM lojas_es', con=conn)

data_lojas_es

   index   Loja   Cidade          Estado
0      0  V7654  Vitória  Espírito Santo

## 1 - Informe o total e média de vendas em São Paulo

In [41]:
consulta1_es = '''
    
    SELECT ROUND(SUM(Valor_Venda)) AS TOTAL, ROUND(AVG(Valor_Venda)) AS Média FROM fatos_es 

'''

consulta_total_media_es = pd.read_sql(consulta1_es, conn)

consulta_total_media_es

     TOTAL  Média
0  24802.0  954.0

In [45]:
locale.setlocale(locale.LC_MONETARY, 'en_US.UTF-8')

'en_US.UTF-8'

In [47]:
total = locale.currency(24802.0, grouping=True) 
print(" Total ", total)

 Total  $24,802.00

In [48]:
media = locale.currency(954.0, grouping=True) 
print(" Média ", media)

 Média  $954.00

## 2 - Informe o total e média de Vendas por Categoria

In [51]:
consulta2_es = '''
    
    SELECT Categoria, SUM(Valor_Venda) AS Total, AVG(Valor_Venda) AS Média FROM fatos_es f 
    INNER JOIN produtos_es p ON f.ID_Produto = p.ID_Produto GROUP BY Categoria
'''

consulta_categoria_es = pd.read_sql(consulta2_es, conn)

In [52]:
consulta_categoria_es

          Categoria    Total        Média
0         Celulares   7128.0  2376.000000
1  Eletrodomésticos  13536.0   846.000000
2   Eletroportáteis    566.0   141.500000
3       Eletrônicos   3572.0  1190.666667

In [54]:
total_Categoria_Celulares = locale.currency(7128.0, grouping=True) 
print("Celulares: ", total_Categoria_Celulares)

total_Categoria_Eletrodomésticos = locale.currency(13536.0, grouping=True) 
print("Eletrodomésticos: ", total_Categoria_Eletrodomésticos)

total_Categoria_Eletroportáteis = locale.currency(566.0	, grouping=True) 
print("Eletroportáteis: ", total_Categoria_Eletroportáteis)

total_Categoria_Eletrônicos = locale.currency(3572.0, grouping=True) 
print("Eletrônicos: ", total_Categoria_Eletrônicos)

Celulares:  $7,128.00
Eletrodomésticos:  $13,536.00
Eletroportáteis:  $566.00
Eletrônicos:  $3,572.00

In [55]:
analise_total = pd.DataFrame({"Total de Celulares" : [total_Categoria_Celulares], 
                              "Total de Eletrodomésticos:" : [total_Categoria_Eletrodomésticos], 
                              "Total de Eletroportáteis:" : [total_Categoria_Eletroportáteis], 
                              "Total de Eletrônicos" : [total_Categoria_Eletrônicos]})

analise_total

,Total de Celulares,Total de Eletrodomésticos:,Total de Eletroportáteis:,Total de Eletrônicos
0,"$7,128.00","$13,536.00",$566.00,"$3,572.00"

## 3 - Informe o total e média de vendas por Segmento e Estado

In [57]:
consulta3_es = '''

    SELECT Segmento, Estado, SUM(Valor_Venda) AS Total, 
    AVG(Valor_Venda) AS Média FROM fatos_es f 
    INNER JOIN lojas_es l 
    ON f.Loja = l.Loja
    INNER JOIN produtos_es p 
    ON f.ID_Produto = p.ID_Produto GROUP BY Estado, Segmento
    
'''

consulta_segmento_estado_es = pd.read_sql(consulta3_es, conn)

In [58]:
consulta_segmento_estado_es

      Segmento          Estado    Total   Média
0  Corporativo  Espírito Santo   9470.0  1894.0
1    Doméstico  Espírito Santo  14042.0   702.1
2   Industrial  Espírito Santo   1290.0  1290.0

In [59]:
total_Segmento_Corporativo = locale.currency(9470.0, grouping=True) 
print("Corporativo: ", total_Segmento_Corporativo) 

total_Segmento_Doméstico = locale.currency(14042.0, grouping=True) 
print("Doméstico: ", total_Segmento_Doméstico) 

total_Segmento_Industrial = locale.currency(1290.0, grouping=True) 
print("Industrial: ", total_Segmento_Industrial)

Corporativo:  $9,470.00
Doméstico:  $14,042.00
Industrial:  $1,290.00

In [60]:
analise_total = pd.DataFrame({"Total Corporativo" : [total_Segmento_Corporativo], 
                              "Total Doméstico" : [total_Segmento_Doméstico], 
                              "Total Industrial" : [total_Segmento_Industrial]})

analise_total

  Total Corporativo Total Doméstico Total Industrial
0         $9,470.00      $14,042.00        $1,290.00

In [61]:
media_Segmento_Corporativo = locale.currency(1894.0, grouping=True) 
print("Corporativo: ", media_Segmento_Corporativo) 

media_Segmento_Doméstico = locale.currency(702.1, grouping=True) 
print("Doméstico: ", media_Segmento_Doméstico) 

media_Segmento_Industrial = locale.currency(1290.0, grouping=True) 
print("Industrial: ", total_Segmento_Industrial)

Corporativo:  $1,894.00
Doméstico:  $702.10
Industrial:  $1,290.00

In [62]:
analise_medio = pd.DataFrame({"Médio Corporativo" : [media_Segmento_Corporativo], 
                              "Médio Doméstico" : [media_Segmento_Doméstico], 
                              "Médio Industrial" : [media_Segmento_Industrial]})

analise_medio

  Médio Corporativo Médio Doméstico Médio Industrial
0         $1,894.00         $702.10        $1,290.00

## 4 - Informe o total e média de vendas por Fabricante e Cidade

In [65]:
consulta4_es = '''
    
    SELECT Cidade, Fabricante, SUM(Valor_Venda) AS Total, 
    AVG(Valor_Venda) AS Média FROM fatos_es f
    INNER JOIN lojas_es l ON f.Loja = l.Loja 
    INNER JOIN produtos_es p ON f.ID_Produto = p.ID_Produto 
    GROUP BY Fabricante
    
'''

consulta_fabricante_cidade_es = pd.read_sql(consulta4_es, conn)

In [66]:
consulta_fabricante_cidade_es

    Cidade Fabricante   Total        Média
0  Vitória       Arno   249.0   124.500000
1  Vitória   Brastemp  5929.0   988.166667
2  Vitória   Britânia   317.0   158.500000
3  Vitória     Consul  5751.0   718.875000
4  Vitória       Dell  2590.0  1295.000000
5  Vitória         HP   982.0   982.000000
6  Vitória   Motorola  1230.0  1230.000000
7  Vitória  Panasonic   566.0   566.000000
8  Vitória    Samsung  7188.0  2396.000000

In [75]:
total_Fabricante_Arno = locale.currency(249.0, grouping=True) 
print("Arno: ", total_Fabricante_Arno) 

total_Fabricante_Brastemp = locale.currency(5929.0, grouping=True) 
print("Brastemp: ", total_Fabricante_Brastemp) 

total_Fabricante_Britânia = locale.currency(317.0, grouping=True) 
print("Britânia: ", total_Fabricante_Britânia) 

total_Fabricante_Consul = locale.currency(5751.0, grouping=True) 
print("Consul: ", total_Fabricante_Consul) 

total_Fabricante_Dell = locale.currency(2590.0, grouping=True) 
print("Dell: ", total_Fabricante_Dell)

total_Fabricante_HP = locale.currency(982.0, grouping=True) 
print("HP: ", total_Fabricante_HP)

total_Fabricante_Motorola = locale.currency(1230.0, grouping=True) 
print("Motorola: ", total_Fabricante_Motorola)

total_Fabricante_Panasonic = locale.currency(566.0, grouping=True) 
print("Panasonic: ", total_Fabricante_Panasonic)

total_Fabricante_Samsung = locale.currency(7188.0, grouping=True) 
print("Samsung: ", total_Fabricante_Samsung)

Arno:  $249.00
Brastemp:  $5,929.00
Britânia:  $317.00
Consul:  $5,751.00
Dell:  $2,590.00
HP:  $982.00
Motorola:  $1,230.00
Panasonic:  $566.00
Samsung:  $7,188.00

In [83]:
analise_total_fabricante = pd.DataFrame({"Total Arno" : [total_Fabricante_Arno], 
                                         "Total Brastemp" : [total_Fabricante_Brastemp], 
                                         "Total Britânia" : [total_Fabricante_Britânia], 
                                         "Total Consul" :   [total_Fabricante_Consul], 
                                         "Total Dell" : [total_Fabricante_Dell], 
                                         "Total HP" : [total_Fabricante_HP], 
                                         "Total Motorola" : [total_Fabricante_Motorola], 
                                         "Total Panasonic" : [total_Fabricante_Panasonic], 
                                         "Total Samsung" : [total_Fabricante_Samsung]})

analise_total_fabricante

,Total Arno,Total Brastemp,Total Britânia,Total Consul,Total Dell,Total HP,Total Motorola,Total Panasonic,Total Samsung
0,$249.00,"$5,929.00",$317.00,"$5,751.00","$2,590.00",$982.00,"$1,230.00",$566.00,"$7,188.00"

In [85]:
media_Fabricante_Arno = locale.currency(124.500000, grouping=True) 
print("Arno: ", media_Fabricante_Arno) 

media_Fabricante_Brastemp = locale.currency(988.166667, grouping=True) 
print("Brastemp: ", media_Fabricante_Brastemp) 

media_Fabricante_Britânia = locale.currency(158.500000, grouping=True) 
print("Britânia: ", media_Fabricante_Britânia) 

media_Fabricante_Consul = locale.currency(718.875000, grouping=True) 
print("Consul: ", media_Fabricante_Consul) 

media_Fabricante_Dell = locale.currency(1295.000000, grouping=True) 
print("Dell: ", media_Fabricante_Dell)

media_Fabricante_HP = locale.currency(982.0, grouping=True) 
print("HP: ", media_Fabricante_HP)

media_Fabricante_Motorola = locale.currency(1230.000000, grouping=True) 
print("Motorola: ", media_Fabricante_Motorola)

media_Fabricante_Panasonic = locale.currency(566.000000, grouping=True) 
print("Panasonic: ", media_Fabricante_Panasonic)

media_Fabricante_Samsung = locale.currency(2396.000000, grouping=True) 
print("Samsung: ", media_Fabricante_Samsung)

Arno:  $124.50
Brastemp:  $988.17
Britânia:  $158.50
Consul:  $718.88
Dell:  $1,295.00
HP:  $982.00
Motorola:  $1,230.00
Panasonic:  $566.00
Samsung:  $2,396.00

In [87]:
analise_medio_fabricante = pd.DataFrame({"Média Arno" : [media_Fabricante_Arno], 
                              "Média Brastemp" : [media_Fabricante_Brastemp], 
                              "Média Britânia" : [media_Fabricante_Britânia], 
                              "Média Consul" :   [media_Fabricante_Consul], 
                              "Média Dell" : [media_Fabricante_Dell], 
                              "Média Hp" : [media_Fabricante_HP], 
                              "Média Motorola" : [media_Fabricante_Motorola], 
                              "Média Panasonic" : [media_Fabricante_Panasonic], 
                              "Média Samsung" : [media_Fabricante_Samsung]})

analise_medio_fabricante

,Média Arno,Média Brastemp,Média Britânia,Média Consul,Média Dell,Média Hp,Média Motorola,Média Panasonic,Média Samsung
0,$124.50,$988.17,$158.50,$718.88,"$1,295.00",$982.00,"$1,230.00",$566.00,"$2,396.00"

## 5 - Informe o total, média e de vendas por Vendedor, Estado, Produto

In [88]:
consulta5_es = '''
    
    SELECT Vendedor, Estado, Produto, SUM(Valor_Venda) AS Total, AVG(Valor_Venda) AS Média
    FROM fatos_es f 
    INNER JOIN vendedores_es v ON f.ID_Vendedor = v.ID_Vendedor 
    INNER JOIN lojas_es l ON f.Loja = l.Loja 
    INNER JOIN produtos_es p ON f.ID_Produto = p.ID_Produto GROUP BY Vendedor
'''

consulta_vendedor_estado_produto = pd.read_sql(consulta5_es, conn)

In [89]:
consulta_vendedor_estado_produto

            Vendedor          Estado             Produto   Total        Média
0       Ana Teixeira  Espírito Santo         Micro-Ondas  1865.0   932.500000
1      André Pereira  Espírito Santo           Aspirador  4167.0   833.400000
2      Artur Moreira  Espírito Santo    Samsung Galaxy 8  5331.0  1777.000000
3  Fernando Zambrini  Espírito Santo  Notebook Dell 8 GB  2121.0   707.000000
4       Josias Silva  Espírito Santo    Desktop HP 16 GB  2656.0   664.000000
5    Maria Fernandes  Espírito Santo  Notebook Dell 8 GB  3764.0  1254.666667
6   Mateus Gonçalves  Espírito Santo           Aspirador  4442.0   888.400000
7   Rodrigo Fagundes  Espírito Santo    Geladeira Duplex   456.0   456.000000

In [96]:
total_Vendedor_Ana_Teixeira = locale.currency(1865.0, grouping=True) 
print("Ana Teixeira: ", total_Vendedor_Ana_Teixeira) 

total_Vendedor_André_Pereira = locale.currency(4167.0, grouping=True) 
print("André Pereira: ", total_Vendedor_André_Pereira) 

total_Vendedor_Artur_Moreira = locale.currency(5331.0, grouping=True) 
print("Artur Moreira: ", total_Vendedor_Artur_Moreira) 

total_Vendedor_Fernando_Zambrini = locale.currency(2121.0, grouping=True) 
print("Fernando Zambrini: ", total_Vendedor_Fernando_Zambrini) 

total_Vendedor_Josias_Silva = locale.currency(2656.0, grouping=True) 
print("Josias Silva: ", total_Vendedor_Josias_Silva)

total_Vendedor_Maria_Fernandes = locale.currency(3764.0, grouping=True) 
print("Maria Fernandes: ", total_Vendedor_Maria_Fernandes) 

total_Vendedor_Mateus_Gonçalves = locale.currency(4442.0, grouping=True) 
print("Mateus Gonçalves: ", total_Vendedor_Mateus_Gonçalves) 

total_Vendedor_Rodrigo_Fagundes = locale.currency(456.0, grouping=True) 
print("Rodrigo Fagundes: ", total_Vendedor_Rodrigo_Fagundes)

Ana Teixeira:  $1,865.00
André Pereira:  $4,167.00
Artur Moreira:  $5,331.00
Fernando Zambrini:  $2,121.00
Josias Silva:  $2,656.00
Maria Fernandes:  $3,764.00
Mateus Gonçalves:  $4,442.00
Rodrigo Fagundes:  $456.00

In [97]:
analise_total_vendedores = pd.DataFrame({"Ana Teixeira" : [total_Vendedor_Ana_Teixeira], 
                              "André Pereira" : [total_Vendedor_André_Pereira], 
                              "Artur Moreira" : [total_Vendedor_Artur_Moreira],
                              "Fernando Zambrini" : [total_Vendedor_Fernando_Zambrini], 
                              "Josias Silva" : [total_Vendedor_Josias_Silva], 
                              "Maria Fernandes" : [total_Vendedor_Maria_Fernandes], 
                              "Mateus Gonçalves" : [total_Vendedor_Mateus_Gonçalves], 
                              "Rodrigo Fagundes" : [total_Vendedor_Rodrigo_Fagundes]})

analise_total_vendedores

,Ana Teixeira,André Pereira,Artur Moreira,Fernando Zambrini,Josias Silva,Maria Fernandes,Mateus Gonçalves,Rodrigo Fagundes
0,"$1,865.00","$4,167.00","$5,331.00","$2,121.00","$2,656.00","$3,764.00","$4,442.00",$456.00

In [102]:
medio_Vendedor_Ana_Teixeira = locale.currency(932.500000, grouping=True) 
print("Ana Teixeira: ", medio_Vendedor_Ana_Teixeira) 

medio_Vendedor_André_Pereira = locale.currency(833.400000, grouping=True) 
print("André Pereira: ", medio_Vendedor_André_Pereira)

medio_Vendedor_Artur_Moreira = locale.currency(1777.000000, grouping=True) 
print("Artur Moreira: ", medio_Vendedor_Artur_Moreira)

medio_Vendedor_Fernando_Zambrini = locale.currency(707.000000, grouping=True) 
print("Fernando Zambrini: ", medio_Vendedor_Fernando_Zambrini)

medio_Vendedor_Josias_Silva = locale.currency(664.000000, grouping=True) 
print("Josias Silva: ", medio_Vendedor_Josias_Silva)

medio_Vendedor_Maria_Fernandes = locale.currency(1274.666667, grouping=True) 
print("Maria Fernandes: ", medio_Vendedor_Maria_Fernandes)

medio_Vendedor_Mateus_Gonçalves = locale.currency(888.400000, grouping=True) 
print("Mateus Gonçalves: ", medio_Vendedor_Mateus_Gonçalves)

medio_Vendedor_Rodrigo_Fagundes = locale.currency(456.000000, grouping=True) 
print("Rodrigo Fagundes: ", medio_Vendedor_Rodrigo_Fagundes)

Ana Teixeira:  $932.50
André Pereira:  $833.40
Artur Moreira:  $1,777.00
Fernando Zambrini:  $707.00
Josias Silva:  $664.00
Maria Fernandes:  $1,274.67
Mateus Gonçalves:  $888.40
Rodrigo Fagundes:  $456.00

In [103]:
analise_media_vendedores = pd.DataFrame({"Ana Teixeira" : [medio_Vendedor_AnaTeixeira ], 
                              "André Pereira" : [medio_Vendedor_André_Pereira], 
                              "Artur Moreira" : [medio_Vendedor_Artur_Moreira],
                              "Fernando Zambrini" : [medio_Vendedor_Fernando_Zambrini], 
                              "Josias Silva" : [medio_Vendedor_Josias_Silva], 
                              "Maria Fernandes" : [medio_Vendedor_Maria_Fernandes], 
                              "Mateus Gonçalves" : [medio_Vendedor_Mateus_Gonçalves], 
                              "Rodrigo Fagundes" : [medio_Vendedor_Rodrigo_Fagundes]})

analise_media_vendedores

,Ana Teixeira,André Pereira,Artur Moreira,Fernando Zambrini,Josias Silva,Maria Fernandes,Mateus Gonçalves,Rodrigo Fagundes
0,$932.50,$833.40,"$1,777.00",$707.00,$664.00,"$1,274.67",$888.40,$456.00