## Importação das bibliotecas

In [273]:
import pandas as pd 
import sqlite3
import locale

## Lendo o Dataset de São Paulo

In [196]:
sao_paulo = pd.read_csv("saopaulo.csv", sep = ";")

sao_paulo

,ID_Produto,Produto,Categoria,Segmento,Fabricante,Loja,Cidade,Estado,Vendedor,ID_Vendedor,Data Venda,ValorVenda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,04/10/2012,"679,00"
1,SKU-0000002,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,01/01/2012,"832,00"
2,SKU-0000003,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,02/02/2012,"790,00"
3,SKU-0000004,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,03/03/2012,"765,32"
4,SKU-0000005,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Artur Moreira,1004,04/04/2012,"459,89"
5,SKU-0000006,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Rodrigo Fagundes,1005,04/05/2012,"590,98"
6,SKU-0000007,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,04/06/2012,"1000,91"
7,SKU-0000009,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,04/08/2012,"1300,00"
8,SKU-0000010,Geladeira Duplex,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,André Pereira,1002,04/09/2012,"1290,00"
9,SKU-0000011,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,04/09/2012,"1287,00"
10,SKU-0000013,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,04/11/2012,"1100,00"
11,SKU-0000014,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,04/12/2012,"1190,00"
12,SKU-0000015,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Artur Moreira,1004,04/12/2012,"1190,98"
13,SKU-0000017,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,02/02/2013,"982,00"
14,SKU-0000018,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Fernando Zambrini,1007,02/03/2013,"872,00"
15,SKU-0000019,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,02/04/2013,"799,00"
16,SKU-0000020,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,André Pereira,1002,02/05/2013,"899,00"
17,SKU-0000021,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,02/06/2013,"799,00"
18,SKU-0000022,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,02/07/2013,"987,00"
19,SKU-0000023,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,02/08/2013,"699,90"
20,SKU-0000024,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,02/09/2013,"789,23"
21,SKU-0000025,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Artur Moreira,1004,02/10/2013,"789,34"
22,SKU-0000026,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Rodrigo Fagundes,1005,02/11/2013,"764,20"
23,SKU-0000027,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Josias Silva,1006,02/12/2013,"1245,90"
24,SKU-0000028,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Fernando Zambrini,1007,02/01/2013,"1345,87"
25,SKU-0000029,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,02/02/2013,"1234,12"
26,SKU-0000030,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,André Pereira,1002,02/03/2013,"1245,90"
27,SKU-0000031,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Maria Fernandes,1001,02/04/2013,"1345,87"
28,SKU-0000032,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Maria Fernandes,1001,02/05/2013,"1234,12"
29,SKU-0000033,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8823,São Paulo,São Paulo,Maria Fernandes,1001,02/06/2013,"1245,90"

## Separação de Colunas

In [197]:
## Dim São Paulo Venddedor
Dim_Vendedor_Sao_Paulo = pd.DataFrame({
    
    "ID_Vendedor" : sao_paulo["ID_Vendedor"], 
    "Vendedor" : sao_paulo["Vendedor"]
})

Dim_Vendedor_Sao_Paulo

    ID_Vendedor           Vendedor
0          1009       Ana Teixeira
1          1006       Josias Silva
2          1006       Josias Silva
3          1003   Mateus Gonçalves
4          1004      Artur Moreira
5          1005   Rodrigo Fagundes
6          1006       Josias Silva
7          1003   Mateus Gonçalves
8          1002      André Pereira
9          1009       Ana Teixeira
10         1006       Josias Silva
11         1003   Mateus Gonçalves
12         1004      Artur Moreira
13         1006       Josias Silva
14         1007  Fernando Zambrini
15         1003   Mateus Gonçalves
16         1002      André Pereira
17         1009       Ana Teixeira
18         1006       Josias Silva
19         1006       Josias Silva
20         1003   Mateus Gonçalves
21         1004      Artur Moreira
22         1005   Rodrigo Fagundes
23         1006       Josias Silva
24         1007  Fernando Zambrini
25         1003   Mateus Gonçalves
26         1002      André Pereira
27         1001    Maria Fernandes
28         1001    Maria Fernandes
29         1001    Maria Fernandes

In [198]:
## Dim São Paulo Produtos 
Dim_Produtos_Sao_Paulo = pd.DataFrame({
    
    "ID_Produto" : sao_paulo["ID_Produto"],
    "Fabricante" : sao_paulo["Fabricante"],
    "Categoria" : sao_paulo["Categoria"], 
    "Produto" : sao_paulo["Produto"],
    "Segmento" : sao_paulo["Segmento"]
    
})

Dim_Produtos_Sao_Paulo

     ID_Produto  Fabricante         Categoria           Produto     Segmento
0   SKU-0000001          LG         Celulares   LG K10 TV Power  Corporativo
1   SKU-0000002    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
2   SKU-0000003    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
3   SKU-0000004    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
4   SKU-0000005  Electrolux  Eletrodomésticos    Lavadora 11 Kg    Doméstico
5   SKU-0000006    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
6   SKU-0000007    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
7   SKU-0000009    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
8   SKU-0000010  Electrolux  Eletrodomésticos  Geladeira Duplex    Doméstico
9   SKU-0000011    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
10  SKU-0000013    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
11  SKU-0000014    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
12  SKU-0000015    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
13  SKU-0000017    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
14  SKU-0000018    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
15  SKU-0000019  Electrolux  Eletrodomésticos    Lavadora 11 Kg    Doméstico
16  SKU-0000020    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
17  SKU-0000021    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
18  SKU-0000022    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
19  SKU-0000023    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
20  SKU-0000024  Electrolux  Eletrodomésticos    Lavadora 11 Kg    Doméstico
21  SKU-0000025    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
22  SKU-0000026    Brastemp  Eletrodomésticos    Lavadora 11 Kg    Doméstico
23  SKU-0000027  Electrolux  Eletrodomésticos    Lavadora 11 Kg    Doméstico
24  SKU-0000028    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
25  SKU-0000029    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
26  SKU-0000030    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
27  SKU-0000031    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
28  SKU-0000032    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico
29  SKU-0000033    Brastemp  Eletrodomésticos  Geladeira Duplex    Doméstico

In [199]:
## Dim São Paulo Lojas 
Dim_Lojas_Sao_Paulo = pd.DataFrame({
    
    "Loja" : sao_paulo["Loja"], 
    "Cidade" : sao_paulo["Cidade"],
    "Estado" : sao_paulo["Estado"] 
})

Dim_Lojas_Sao_Paulo

      Loja     Cidade     Estado
0   SP8821  São Paulo  São Paulo
1   SP8821  São Paulo  São Paulo
2   SP8821  São Paulo  São Paulo
3   SP8821  São Paulo  São Paulo
4   SP8821  São Paulo  São Paulo
5   SP8821  São Paulo  São Paulo
6   SP8821  São Paulo  São Paulo
7   SP8821  São Paulo  São Paulo
8   SP8821  São Paulo  São Paulo
9   SP8821  São Paulo  São Paulo
10  SP8821  São Paulo  São Paulo
11  SP8821  São Paulo  São Paulo
12  SP8821  São Paulo  São Paulo
13  SP8821  São Paulo  São Paulo
14  SP8821  São Paulo  São Paulo
15  SP8821  São Paulo  São Paulo
16  SP8821  São Paulo  São Paulo
17  SP8821  São Paulo  São Paulo
18  SP8821  São Paulo  São Paulo
19  SP8821  São Paulo  São Paulo
20  SP8821  São Paulo  São Paulo
21  SP8821  São Paulo  São Paulo
22  SP8821  São Paulo  São Paulo
23  SP8821  São Paulo  São Paulo
24  SP8821  São Paulo  São Paulo
25  SP8821  São Paulo  São Paulo
26  SP8821  São Paulo  São Paulo
27  SP8821  São Paulo  São Paulo
28  SP8821  São Paulo  São Paulo
29  SP8823  São Paulo  São Paulo

In [200]:
## Dim São Paulo Tempo 
Dim_Tempo_Sao_Paulo = pd.DataFrame({
    
    "Data_Venda" : sao_paulo["Data Venda"]
})

Dim_Tempo_Sao_Paulo

    Data_Venda
0   04/10/2012
1   01/01/2012
2   02/02/2012
3   03/03/2012
4   04/04/2012
5   04/05/2012
6   04/06/2012
7   04/08/2012
8   04/09/2012
9   04/09/2012
10  04/11/2012
11  04/12/2012
12  04/12/2012
13  02/02/2013
14  02/03/2013
15  02/04/2013
16  02/05/2013
17  02/06/2013
18  02/07/2013
19  02/08/2013
20  02/09/2013
21  02/10/2013
22  02/11/2013
23  02/12/2013
24  02/01/2013
25  02/02/2013
26  02/03/2013
27  02/04/2013
28  02/05/2013
29  02/06/2013

In [201]:
## TB Fato 
TB_Fato_Sao_Paulo = pd.DataFrame({
    
    "Loja" : sao_paulo["Loja"], 
    "ID_Produto" : sao_paulo["ID_Produto"], 
    "ID_Vendedor" : sao_paulo["ID_Vendedor"], 
    "Data_Venda" : sao_paulo["Data Venda"],
    "Valor_Venda" : sao_paulo["ValorVenda"]
})

TB_Fato_Sao_Paulo

      Loja   ID_Produto  ID_Vendedor  Data_Venda Valor_Venda
0   SP8821  SKU-0000001         1009  04/10/2012     679,00
1   SP8821  SKU-0000002         1006  01/01/2012     832,00
2   SP8821  SKU-0000003         1006  02/02/2012     790,00
3   SP8821  SKU-0000004         1003  03/03/2012     765,32
4   SP8821  SKU-0000005         1004  04/04/2012     459,89
5   SP8821  SKU-0000006         1005  04/05/2012     590,98
6   SP8821  SKU-0000007         1006  04/06/2012     1000,91
7   SP8821  SKU-0000009         1003  04/08/2012     1300,00
8   SP8821  SKU-0000010         1002  04/09/2012     1290,00
9   SP8821  SKU-0000011         1009  04/09/2012     1287,00
10  SP8821  SKU-0000013         1006  04/11/2012     1100,00
11  SP8821  SKU-0000014         1003  04/12/2012     1190,00
12  SP8821  SKU-0000015         1004  04/12/2012     1190,98
13  SP8821  SKU-0000017         1006  02/02/2013     982,00
14  SP8821  SKU-0000018         1007  02/03/2013     872,00
15  SP8821  SKU-0000019         1003  02/04/2013     799,00
16  SP8821  SKU-0000020         1002  02/05/2013     899,00
17  SP8821  SKU-0000021         1009  02/06/2013     799,00
18  SP8821  SKU-0000022         1006  02/07/2013     987,00
19  SP8821  SKU-0000023         1006  02/08/2013     699,90
20  SP8821  SKU-0000024         1003  02/09/2013     789,23
21  SP8821  SKU-0000025         1004  02/10/2013     789,34
22  SP8821  SKU-0000026         1005  02/11/2013     764,20
23  SP8821  SKU-0000027         1006  02/12/2013     1245,90
24  SP8821  SKU-0000028         1007  02/01/2013     1345,87
25  SP8821  SKU-0000029         1003  02/02/2013     1234,12
26  SP8821  SKU-0000030         1002  02/03/2013     1245,90
27  SP8821  SKU-0000031         1001  02/04/2013     1345,87
28  SP8821  SKU-0000032         1001  02/05/2013     1234,12
29  SP8823  SKU-0000033         1001  02/06/2013     1245,90

## Remoção de Dados Duplicados

In [202]:
## Dim_Vendedor_Sao_Paulo
Dim_Vendedor_Sao_Paulo = Dim_Vendedor_Sao_Paulo.drop_duplicates()
Dim_Vendedor_Sao_Paulo_count = Dim_Vendedor_Sao_Paulo.count()[0]

Dim_Vendedor_Sao_Paulo_count

8

In [203]:
pd.DataFrame({"Total de Vendedores" : [Dim_Vendedor_Sao_Paulo_count]})

   Total de Vendedores
0                    8

In [204]:
Dim_Vendedor_Sao_Paulo

    ID_Vendedor           Vendedor
0          1009       Ana Teixeira
1          1006       Josias Silva
3          1003   Mateus Gonçalves
4          1004      Artur Moreira
5          1005   Rodrigo Fagundes
8          1002      André Pereira
14         1007  Fernando Zambrini
27         1001    Maria Fernandes

In [205]:
## Dim São Paulo Lojas 
Dim_Lojas_Sao_Paulo = Dim_Lojas_Sao_Paulo.drop_duplicates() 
Dim_Lojas_Sao_Paulo_count = Dim_Lojas_Sao_Paulo.count()[0] 

Dim_Lojas_Sao_Paulo_count

2

In [206]:
pd.DataFrame({"Total de Lojas" : [Dim_Lojas_Sao_Paulo_count]})

   Total de Lojas
0               2

In [207]:
Dim_Lojas_Sao_Paulo

      Loja     Cidade     Estado
0   SP8821  São Paulo  São Paulo
29  SP8823  São Paulo  São Paulo

## Conexão com o Banco de dados

In [208]:
conn = sqlite3.connect("sp_regiao_vendas.db")

## Criação de Tabelas

In [209]:
## Criação da Tabela Dim_Vendedor_Sao_Paulo 
Dim_Vendedor_Sao_Paulo.to_sql(name='vendedores_sp', con=conn)

In [210]:
## Criação da Tabela Dim_Lojas_Sao_Paulo
Dim_Lojas_Sao_Paulo.to_sql(name='lojas_sp', con=conn)

In [211]:
## Criação da Tabela Dim_Produtos_Sao_Paulo
Dim_Produtos_Sao_Paulo.to_sql(name='produtos_sp', con=conn)

In [212]:
## Criação da Tabela Dim_Tempo_Sao_Paulo
Dim_Tempo_Sao_Paulo.to_sql(name='tempo_sp', con=conn)

In [213]:
## Criação da Tabela TB_Fato_São_Paulo
TB_Fato_Sao_Paulo.to_sql(name='fatos_sp', con=conn)

## Verificando se a tabela foi criada no Banco de dados

In [214]:
!sqlite3 vendas_regiao_sp.db '.tables'

## Informações da Tabela de Banco de dados

In [215]:
## Tabela Fatos São Paulo
!sqlite3 sp_regiao_vendas.db 'PRAGMA table_info(fatos_sp)'

0|index|INTEGER|0||0
1|Loja|TEXT|0||0
2|ID_Produto|TEXT|0||0
3|ID_Vendedor|INTEGER|0||0
4|Data_Venda|TEXT|0||0
5|Valor_Venda|TEXT|0||0

In [216]:
## Tabela Lojas São Paulo
!sqlite3 sp_regiao_vendas.db 'PRAGMA table_info(lojas_sp)'

0|index|INTEGER|0||0
1|Loja|TEXT|0||0
2|Cidade|TEXT|0||0
3|Estado|TEXT|0||0

In [217]:
## Tabela Produtos São Paulo
!sqlite3 sp_regiao_vendas.db 'PRAGMA table_info(produtos_sp)'

0|index|INTEGER|0||0
1|ID_Produto|TEXT|0||0
2|Fabricante|TEXT|0||0
3|Categoria|TEXT|0||0
4|Produto|TEXT|0||0
5|Segmento|TEXT|0||0

In [218]:
## Tabela de Tempo São Paulo
!sqlite3 sp_regiao_vendas.db 'PRAGMA table_info(tempo_sp)'

0|index|INTEGER|0||0
1|Data_Venda|TEXT|0||0

In [219]:
# Tabela de Vendedor São Paulo
!sqlite3 sp_regiao_vendas.db 'PRAGMA table_info(vendedores_sp)'

0|index|INTEGER|0||0
1|ID_Vendedor|INTEGER|0||0
2|Vendedor|TEXT|0||0

## Fazendo Consultas Básicas no Banco de Dados

In [220]:
## Tabela Fatos 
data_fatos_sp = pd.read_sql('SELECT * FROM fatos_sp', con=conn)

data_fatos_sp

    index    Loja   ID_Produto  ID_Vendedor  Data_Venda Valor_Venda
0       0  SP8821  SKU-0000001         1009  04/10/2012     679,00
1       1  SP8821  SKU-0000002         1006  01/01/2012     832,00
2       2  SP8821  SKU-0000003         1006  02/02/2012     790,00
3       3  SP8821  SKU-0000004         1003  03/03/2012     765,32
4       4  SP8821  SKU-0000005         1004  04/04/2012     459,89
5       5  SP8821  SKU-0000006         1005  04/05/2012     590,98
6       6  SP8821  SKU-0000007         1006  04/06/2012     1000,91
7       7  SP8821  SKU-0000009         1003  04/08/2012     1300,00
8       8  SP8821  SKU-0000010         1002  04/09/2012     1290,00
9       9  SP8821  SKU-0000011         1009  04/09/2012     1287,00
10     10  SP8821  SKU-0000013         1006  04/11/2012     1100,00
11     11  SP8821  SKU-0000014         1003  04/12/2012     1190,00
12     12  SP8821  SKU-0000015         1004  04/12/2012     1190,98
13     13  SP8821  SKU-0000017         1006  02/02/2013     982,00
14     14  SP8821  SKU-0000018         1007  02/03/2013     872,00
15     15  SP8821  SKU-0000019         1003  02/04/2013     799,00
16     16  SP8821  SKU-0000020         1002  02/05/2013     899,00
17     17  SP8821  SKU-0000021         1009  02/06/2013     799,00
18     18  SP8821  SKU-0000022         1006  02/07/2013     987,00
19     19  SP8821  SKU-0000023         1006  02/08/2013     699,90
20     20  SP8821  SKU-0000024         1003  02/09/2013     789,23
21     21  SP8821  SKU-0000025         1004  02/10/2013     789,34
22     22  SP8821  SKU-0000026         1005  02/11/2013     764,20
23     23  SP8821  SKU-0000027         1006  02/12/2013     1245,90
24     24  SP8821  SKU-0000028         1007  02/01/2013     1345,87
25     25  SP8821  SKU-0000029         1003  02/02/2013     1234,12
26     26  SP8821  SKU-0000030         1002  02/03/2013     1245,90
27     27  SP8821  SKU-0000031         1001  02/04/2013     1345,87
28     28  SP8821  SKU-0000032         1001  02/05/2013     1234,12
29     29  SP8823  SKU-0000033         1001  02/06/2013     1245,90

In [221]:
## Tabela Produtos 
data_produto_sp = pd.read_sql('SELECT * FROM produtos_sp', con=conn)

data_produto_sp

,index,ID_Produto,Fabricante,Categoria,Produto,Segmento
0,0,SKU-0000001,LG,Celulares,LG K10 TV Power,Corporativo
1,1,SKU-0000002,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
2,2,SKU-0000003,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
3,3,SKU-0000004,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
4,4,SKU-0000005,Electrolux,Eletrodomésticos,Lavadora 11 Kg,Doméstico
5,5,SKU-0000006,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
6,6,SKU-0000007,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
7,7,SKU-0000009,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
8,8,SKU-0000010,Electrolux,Eletrodomésticos,Geladeira Duplex,Doméstico
9,9,SKU-0000011,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
10,10,SKU-0000013,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
11,11,SKU-0000014,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
12,12,SKU-0000015,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
13,13,SKU-0000017,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
14,14,SKU-0000018,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
15,15,SKU-0000019,Electrolux,Eletrodomésticos,Lavadora 11 Kg,Doméstico
16,16,SKU-0000020,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
17,17,SKU-0000021,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
18,18,SKU-0000022,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
19,19,SKU-0000023,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
20,20,SKU-0000024,Electrolux,Eletrodomésticos,Lavadora 11 Kg,Doméstico
21,21,SKU-0000025,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
22,22,SKU-0000026,Brastemp,Eletrodomésticos,Lavadora 11 Kg,Doméstico
23,23,SKU-0000027,Electrolux,Eletrodomésticos,Lavadora 11 Kg,Doméstico
24,24,SKU-0000028,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
25,25,SKU-0000029,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
26,26,SKU-0000030,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
27,27,SKU-0000031,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
28,28,SKU-0000032,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico
29,29,SKU-0000033,Brastemp,Eletrodomésticos,Geladeira Duplex,Doméstico

In [222]:
## Tabela Lojas 
data_lojas_sp = pd.read_sql('SELECT * FROM lojas_sp', con=conn)

data_lojas_sp

   index    Loja     Cidade     Estado
0      0  SP8821  São Paulo  São Paulo
1     29  SP8823  São Paulo  São Paulo

## 1 - Informe o total e média de vendas em São Paulo

In [227]:
consulta1 = '''
    
    SELECT ROUND(SUM(Valor_Venda)) AS TOTAL, ROUND(AVG(Valor_Venda)) AS Média FROM fatos_sp 

'''

consulta_total_media = pd.read_sql(consulta1, conn)

consulta_total_media

     TOTAL  Média
0  29744.0  991.0

In [229]:
locale.setlocale(locale.LC_MONETARY, 'en_US.UTF-8')

'en_US.UTF-8'

In [230]:
total = locale.currency(29744.0, grouping=True) 
print(" Total ", total)

 Total  $29,744.00

In [231]:
media = locale.currency(991.0, grouping=True) 
print(" Média ", media)

 Média  $991.00

## 2 - Informe o total e média de Vendas por Categoria

In [236]:
consulta2 = '''
    
    SELECT Categoria, SUM(Valor_Venda) AS Total, AVG(Valor_Venda) AS Média FROM fatos_sp f 
    INNER JOIN produtos_sp p ON f.ID_Produto = p.ID_Produto GROUP BY Categoria
'''

consulta_categoria = pd.read_sql(consulta2, conn)

In [237]:
consulta_categoria

          Categoria    Total        Média
0         Celulares    679.0   679.000000
1  Eletrodomésticos  29065.0  1002.241379

In [239]:
total_Categoria_Celulares = locale.currency(679.0, grouping=True) 
print("Celulares: ", total_Categoria_Celulares)

total_Categoria_Eletrodomésticos = locale.currency(29065.0, grouping=True) 
print("Eletrodomésticos: ", total_Categoria_Eletrodomésticos)

Celulares:  $679.00
Eletrodomésticos:  $29,065.00

In [240]:
analise_total = pd.DataFrame({"Total de Celulares" : [total_Categoria_Celulares], 
                              "Total de Eletrodomésticos:" : [total_Categoria_Eletrodomésticos]})

analise_total

  Total de Celulares Total de Eletrodomésticos:
0            $679.00                 $29,065.00

## 3 - Informe o total e média de vendas por Segmento e Estado

In [252]:
consulta3 = '''

    SELECT Segmento, Estado, SUM(Valor_Venda) AS Total, 
    AVG(Valor_Venda) AS Média FROM fatos_sp f 
    INNER JOIN lojas_sp l 
    ON f.Loja = l.Loja
    INNER JOIN produtos_sp p 
    ON f.ID_Produto = p.ID_Produto GROUP BY Estado, Segmento
    
'''

consulta_segmento_estado = pd.read_sql(consulta3, conn)

In [253]:
consulta_segmento_estado

      Segmento     Estado    Total        Média
0  Corporativo  São Paulo    679.0   679.000000
1    Doméstico  São Paulo  29065.0  1002.241379

In [255]:
total_Segmento_Corporativo = locale.currency(679.0, grouping=True) 
print("Corporativo: ", total_Segmento_Corporativo) 

total_Segmento_Doméstico = locale.currency(29065.0, grouping=True) 
print("Doméstico: ", total_Segmento_Doméstico)

Corporativo:  $679.00
Doméstico:  $29,065.00

In [257]:
analise_total = pd.DataFrame({"Total Corporativo" : [total_Segmento_Corporativo], 
                              "Total Doméstico" : [total_Segmento_Doméstico]})

analise_total

  Total Corporativo Total Doméstico
0           $679.00      $29,065.00

In [256]:
media_Segmento_Corporativo = locale.currency(679.000000, grouping=True) 
print("Corporativo: ", media_Segmento_Corporativo) 

media_Segmento_Doméstico = locale.currency(1002.241379, grouping=True) 
print("Doméstico: ", media_Segmento_Doméstico)

Corporativo:  $679.00
Doméstico:  $1,002.24

In [263]:
analise_medio = pd.DataFrame({"Médio Corporativo" : [media_Segmento_Corporativo], 
                              "Médio Doméstico" : [media_Segmento_Doméstico]})

analise_medio

  Médio Corporativo Médio Doméstico
0           $679.00       $1,002.24

## 4 - Informe o total e média de vendas por Fabricante e Cidade

In [261]:
consulta4 = '''
    
    SELECT Cidade, Fabricante, SUM(Valor_Venda) AS Total, 
    AVG(Valor_Venda) AS Média FROM fatos_sp f
    INNER JOIN lojas_sp l ON f.Loja = l.Loja 
    INNER JOIN produtos_sp p ON f.ID_Produto = p.ID_Produto 
    GROUP BY Fabricante
    
'''

consulta_fabricante_cidade = pd.read_sql(consulta4, conn)

In [262]:
consulta_fabricante_cidade

      Cidade  Fabricante    Total     Média
0  São Paulo    Brastemp  24483.0  1020.125
1  São Paulo  Electrolux   4582.0   916.400
2  São Paulo          LG    679.0   679.000

In [264]:
total_Fabricante_Brastemp = locale.currency(24483.0, grouping=True) 
print("Brastemp: ", total_Fabricante_Brastemp) 

total_Fabricante_Electrolux = locale.currency(4582.0, grouping=True) 
print("Electrolux: ", total_Fabricante_Electrolux) 

total_Fabricante_LG = locale.currency(679.0, grouping=True) 
print("LG: ", total_Fabricante_LG)

Brastemp:  $24,483.00
Electrolux:  $4,582.00
LG:  $679.00

In [266]:
analise_total_fabricante = pd.DataFrame({"Total Brastemp" : [total_Fabricante_Brastemp], 
                              "Total Electrolux" : [total_Fabricante_Electrolux], 
                              "Total LG" : [total_Fabricante_LG]})

analise_total_fabricante

  Total Brastemp Total Electrolux Total LG
0     $24,483.00        $4,582.00  $679.00

In [265]:
media_Fabricante_Brastemp = locale.currency(1020.125, grouping=True) 
print("Brastemp: ", media_Fabricante_Brastemp) 

media_Fabricante_Electrolux = locale.currency(916.400, grouping=True) 
print("Electrolux: ", media_Fabricante_Electrolux) 

media_Fabricante_LG = locale.currency(679.000, grouping=True) 
print("LG: ", media_Fabricante_LG)

Brastemp:  $1,020.12
Electrolux:  $916.40
LG:  $679.00

In [268]:
analise_medio_fabricante = pd.DataFrame({"Média Brastemp" : [media_Fabricante_Brastemp], 
                              "Média Electrolux" : [media_Fabricante_Electrolux], 
                              "Média LG" : [media_Fabricante_LG]})

analise_medio_fabricante

  Média Brastemp Média Electrolux Média LG
0      $1,020.12          $916.40  $679.00

## 5 - Informe o total, média e de vendas por Vendedor, Estado, Produto

In [280]:
consulta5 = '''
    
    SELECT Vendedor, Estado, Produto, SUM(Valor_Venda) AS Total, AVG(Valor_Venda) AS Média
    FROM fatos_sp f 
    INNER JOIN vendedores_sp v ON f.ID_Vendedor = v.ID_Vendedor 
    INNER JOIN lojas_sp l ON f.Loja = l.Loja 
    INNER JOIN produtos_sp p ON f.ID_Produto = p.ID_Produto GROUP BY Vendedor
'''

consulta_vendedor_estado_produto = pd.read_sql(consulta5, conn)

In [282]:
consulta_vendedor_estado_produto

            Vendedor     Estado           Produto   Total        Média
0       Ana Teixeira  São Paulo   LG K10 TV Power  2765.0   921.666667
1      André Pereira  São Paulo  Geladeira Duplex  3434.0  1144.666667
2      Artur Moreira  São Paulo    Lavadora 11 Kg  2438.0   812.666667
3  Fernando Zambrini  São Paulo    Lavadora 11 Kg  2217.0  1108.500000
4       Josias Silva  São Paulo  Geladeira Duplex  7635.0   954.375000
5    Maria Fernandes  São Paulo  Geladeira Duplex  3824.0  1274.666667
6   Mateus Gonçalves  São Paulo    Lavadora 11 Kg  6077.0  1012.833333
7   Rodrigo Fagundes  São Paulo    Lavadora 11 Kg  1354.0   677.000000

In [291]:
total_Vendedor_AnaTeixeira = locale.currency(2765.0, grouping=True) 
print("Ana Teixeira: ", total_Vendedor_AnaTeixeira) 

total_Vendedor_André_Pereira = locale.currency(3434.0, grouping=True) 
print("André Pereira: ", total_Fabricante_Electrolux) 

total_Vendedor_Artur_Moreira = locale.currency(2438.0, grouping=True) 
print("Artur Moreira: ", total_Vendedor_Artur_Moreira) 

total_Vendedor_Fernando_Zambrini = locale.currency(2217.0, grouping=True) 
print("Fernando Zambrini: ", total_Vendedor_Fernando_Zambrini) 

total_Vendedor_Josias_Silva = locale.currency(7635.0, grouping=True) 
print("Josias Silva: ", total_Vendedor_Josias_Silva)

total_Vendedor_Maria_Fernandes = locale.currency(3824.0, grouping=True) 
print("Maria Fernandes: ", total_Vendedor_Maria_Fernandes) 

total_Vendedor_Mateus_Gonçalves = locale.currency(6077.0, grouping=True) 
print("Mateus Gonçalves: ", total_Vendedor_Mateus_Gonçalves) 

total_Vendedor_Rodrigo_Fagundes = locale.currency(1354.0, grouping=True) 
print("Rodrigo Fagundes: ", total_Vendedor_Rodrigo_Fagundes)

Ana Teixeira:  $2,765.00
André Pereira:  $4,582.00
Artur Moreira:  $2,438.00
Fernando Zambrini:  $2,217.00
Josias Silva:  $7,635.00
Maria Fernandes:  $3,824.00
Mateus Gonçalves:  $6,077.00
Rodrigo Fagundes:  $1,354.00

In [292]:
analise_total_vendedores = pd.DataFrame({"Ana Teixeira" : [total_Vendedor_AnaTeixeira ], 
                              "André Pereira" : [total_Vendedor_André_Pereira], 
                              "Artur Moreira" : [total_Vendedor_Artur_Moreira],
                              "Fernando Zambrini" : [total_Vendedor_Fernando_Zambrini], 
                              "Josias Silva" : [total_Vendedor_Josias_Silva], 
                              "Maria Fernandes" : [total_Vendedor_Maria_Fernandes], 
                              "Mateus Gonçalves" : [total_Vendedor_Mateus_Gonçalves], 
                              "Rodrigo Fagundes" : [total_Vendedor_Rodrigo_Fagundes]})

analise_total_vendedores

,Ana Teixeira,André Pereira,Artur Moreira,Fernando Zambrini,Josias Silva,Maria Fernandes,Mateus Gonçalves,Rodrigo Fagundes
0,"$2,765.00","$3,434.00","$2,438.00","$2,217.00","$7,635.00","$3,824.00","$6,077.00","$1,354.00"

In [306]:
medio_Vendedor_AnaTeixeira = locale.currency(921.666667, grouping=True) 
print("Ana Teixeira: ", medio_Vendedor_AnaTeixeira) 

medio_Vendedor_AndréPereira = locale.currency(1144.666667, grouping=True) 
print("André Pereira: ", medio_Vendedor_AndréPereira)

medio_Vendedor_ArturMoreira = locale.currency(812.666667, grouping=True) 
print("Artur Moreira: ", medio_Vendedor_ArturMoreira)

medio_Vendedor_FernandoZambrini = locale.currency(1108.500000, grouping=True) 
print("Fernando Zambrini: ", medio_Vendedor_FernandoZambrini)

medio_Vendedor_JosiasSilva = locale.currency(954.375000, grouping=True) 
print("Josias Silva: ", medio_Vendedor_JosiasSilva)

medio_Vendedor_MariaFernandes = locale.currency(1274.666667, grouping=True) 
print("Maria Fernandes: ", medio_Vendedor_MariaFernandes)

medio_Vendedor_MateusGonçalves = locale.currency(1012.833333, grouping=True) 
print("Mateus Gonçalves: ", medio_Vendedor_MateusGonçalves)

medio_Vendedor_RodrigoFagundes = locale.currency(677.000000, grouping=True) 
print("Rodrigo Fagundes: ", medio_Vendedor_RodrigoFagundes)

Ana Teixeira:  $921.67
André Pereira:  $1,144.67
Artur Moreira:  $812.67
Fernando Zambrini:  $1,108.50
Josias Silva:  $954.38
Maria Fernandes:  $1,274.67
Mateus Gonçalves:  $1,012.83
Rodrigo Fagundes:  $677.00

In [308]:
analise_media_vendedores = pd.DataFrame({"Ana Teixeira" : [medio_Vendedor_AnaTeixeira ], 
                              "André Pereira" : [medio_Vendedor_AndréPereira], 
                              "Artur Moreira" : [medio_Vendedor_ArturMoreira],
                              "Fernando Zambrini" : [medio_Vendedor_FernandoZambrini], 
                              "Josias Silva" : [medio_Vendedor_JosiasSilva], 
                              "Maria Fernandes" : [medio_Vendedor_MariaFernandes], 
                              "Mateus Gonçalves" : [medio_Vendedor_MateusGonçalves], 
                              "Rodrigo Fagundes" : [medio_Vendedor_RodrigoFagundes]})

analise_media_vendedores

,Ana Teixeira,André Pereira,Artur Moreira,Fernando Zambrini,Josias Silva,Maria Fernandes,Mateus Gonçalves,Rodrigo Fagundes
0,$921.67,"$1,144.67",$812.67,"$1,108.50",$954.38,"$1,274.67","$1,012.83",$677.00